#![enable(implicit_some)]

Prefab (
    entities: [
        PrefabEntity(
            data: GameCamera(
                position: Position(50.0, 50.0, 10.0),
                dimensions: Dimensions(100.0, 100.0),
            ),
        ),
    ],
)