#![enable(implicit_some)]

Prefab (
  entities: [
    PrefabEntity(
      data: (
        transform: Transform(
          translation: (50.0, 50.0, 1.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
        ),
        camera: Orthographic(
          left: -300.0,
          right: 300.0,
          bottom: -300.0,
          top: 300.0,
          znear: -30.0, 
          zfar: 30.0,
        ),
      ),
    ),
  ],
)