#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            // parent: None // Optional
            data: PaddlePrefab(
                dimensions: Dimensions(4.0, 16.0),
            ),
        ),
    ],
)