#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            // parent: None // Optional
            data: PaddlePrefab(
                character_movement: CharacterMovementStateComponent(
                    accel:  5.0,
                    decel: 10.0,
                    max_speed: 5.0,
                ),
                jump_movement: CharacterJumpStateComponent(
                    max_jump_height: 20.0,
                    time_to_max_height_sec: 0.5,
                ),
                mass: MassAttribute(
                    mass: 0.03,
                ),
                dimensions: Dimensions(25.0, 32.0),

                physical_desc: PhysicsalDesc (
                    rigidbody: RigidBody(
                        mode: Dynamic,
                        lock_translation_z: true,
                        lock_rotation_x: true,
                        lock_rotation_y: true,
                        lock_rotation_z: true,
                    ),
                    //physicalShape: Sphere( radius: 5.0),
                    physicalShape: Cube ( half_extents: [12.5, 16.0, 1.0] ),
                ),
            ),
        ),
    ],
)