#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            // parent: None // Optional
            data: PaddlePrefab(
                character_movement: CharacterMovementStateComponent(
                    accel:  5.0,
                    decel: 10.0,
                    max_speed: 5.0,
                ),
                jump_movement: CharacterJumpStateComponent(
                    max_jump_height: 20.0,
                    time_to_max_height_sec: 0.5,
                ),
                mass: MassAttribute(
                    mass: 0.03,
                ),
                dimensions: Dimensions(25.0, 32.0),
            ),
        ),
    ],
)